{% extends "public/layout.njk" %}

{% block title %}
<title>Foodfy - Home</title>
{% endblock title %}

{% block content %}
<header>
    <div>
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <img src="/img/chef.png" alt="Imagem do chef">
</header>
<h2>Mais acessadas</h2>
<section class="recipes">
    {% for recipe in recipes %}
    {% include "public/recipeLayout.njk" %}
    {% endfor %}
</section>
{% endblock content %}