<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}
        <meta charset=utf-8>
        <link rel="shortcut icon" href="/img/chef.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <nav class="menuBar">
                <a href="/home">
                    <img src="/img/logo.png" alt="Imagem da logo">
                </a>
                <div class="menu">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                    {% if session.userID %}
                        <a href="/admin/profile" title="Meu perfil"><i data-feather="user"></i></a>
                    {% else %}
                        <a href="/login" title="Login"><i data-feather="log-in"></i></a>
                    {% endif %}
                </div>

                {% block form %}
                {% endblock form %}
            </nav>

            {% block content %}
            {% endblock content %}
        </div>
        
        <footer><span>Todos direitos reservados, receitas Foodfy.</span></footer>

        <script src="https://unpkg.com/feather-icons"></script>
        <script src="/js/script.js"></script>
    </body>
</html>