<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}
        <meta charset=utf-8>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <nav class="menuBar">
                <a href="/home">
                    <img src="/img/logo.png" alt="Imagem da logo">
                </a>
                <div class="menu">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </div>
            </nav>

            {% block content %}
            {% endblock content %}
        </div>

        <footer><span>Todos direitos reservados, receitas Foodfy.</span></footer>

        <script src="/js/script.js"></script>
    </body>
</html>