{% extends "public/layout.njk" %}

{% block title %}
<title>Foodfy - Página não encontrada</title>
{% endblock title %}

{% block content %}
<h1>404</h1>
<p>Página não encontrada... =(</p>
{% endblock content %}