<div class="recipe">
    <a href="#" class="recipe-link" title="Clique para ver a receita">
        <img class="recipe-img" src="{{ recipe.image }}" alt="Imagem - {{ recipe.title }}">
    </a>
    <p class="recipe-title">{{ recipe.title }}</p>
    <p class="recipe-author">por {{ recipe.chef_name }}</p>
</div>