{% extends "public/layout.njk" %}

{% block title %}
<title>Foodfy - Receitas</title>
{% endblock title %}

{% block content %}
<section class="recipes">
    {% for recipe in recipes %}
    {% include "public/recipeLayout.njk" %}
    {% endfor %}
</section>
{% endblock content %}