{% extends "admin/layout.njk" %}

{% block title %}
    <title>Foodfy - Editando chef</title>
{% endblock title %}

{% block content %}
    <div class="form-header">
        <h2>Editando chef</h2>
        <div class="buttons">
            <button class="button delete" type="submit" form="form-delete">Deletar</button>
            <button class="button" type="submit" form="form-update-chef">Salvar chef</button>
        </div>
    </div>
    <form id="form-update-chef" action="/admin/chefs?_method=PUT" method="POST">
        <input type="hidden" name="id" value="{{ chef.id }}">

        {% include "admin/chefs/fields.njk" %}
    </form>
    <form id="form-delete" class="delete-form" action="/admin/chefs?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{ chef.id }}">
    </form>
{% endblock content %}

{% block script %}
    <script src="/js/admin/deleteConfirmation.js"></script>
{% endblock script %}