<div class="fields">
    <div class="form-item">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" required value="{{ chef.name }}">
    </div>

    <div class="form-item">
        <label for="avatar_url">Avatar</label>
        <input type="text" name="avatar_url" id="avatar_url" value="{{ chef.avatar_url }}">
    </div>
</div>