<div class="fields">
    <div class="form-item">
        <label for="name">Nome</label>
        <input
            {% if fields_error.name %}
                class="field-error"
            {% endif %}
            type="text"
            name="name"
            id="name"
            value="{{ chef.name }}"
            required
        >
    </div>

    <div class="form-item">
        <label>Avatar</label>
        <input
            type="url"
            {% if not chef.avatar_url or chef.avatar_url == null %}
                class="hide"
            {% endif %}
            name="avatar_url"
            placeholder="Digite a URL da imagem do perfil do chef. Ex.: http://www.images.com/myimage.png"
            value="{{ chef.avatar_url }}"
        >

        <button type="button" class="button">Enviar Avatar</button>
    </div>
</div>