{% extends "admin/layout.njk" %}

{% block title %}
    <title>Foodfy - Gerenciar chefs</title>
{% endblock title %}

{% block content %}
    <div class="form-header">
        <h2>Gerenciar chefs</h2>
        {% if loggedUser.is_admin %}
            <a href="/admin/chefs/create" class="button">Novo</a>
        {% endif %}
    </div>
    <section class="chefs">
        {% for chef in chefs %}
            <div class="chef">
                <div class="chef-img" style="background-image: url('{{ chef.avatar_url }}')"></div>
                <div>
                    <p class="chef-name">{{ chef.name }}</p>
                    <a href="/admin/chefs/{{ chef.id }}" class="chef-link">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}