{% extends "admin/layout.njk" %}

{% block title %}
<title>Foodfy - Chef</title>
{% endblock title %}

{% block content %}
<div class="header">
    <h2 class="text-title">Chef: {{ chef.name }}</h2>
    {% if loggedUser.is_admin %}
        <div>
            <a href="/admin/chefs/{{ chef.id }}/edit" class="redirect">Editar Chef</a>
        </div>
    {% endif %}
</div>
<div class="chef-info">
    <div class="chef-info-img" style="background-image: url('{{ chef.avatar_url }}')"></div>
    <h1>{{ chef.name }}</h1>
    <p>{{ chef.total_recipes }} receitas</p>
</div>

{% if recipes | length > 0 %}
    <h2 class="text-title">Receitas</h2>
    
    <section class="recipes">
        {% for recipe in recipes %}
        <div class="recipe">
            <div class="recipe-img" style="background-image: url('{{ recipe.image }}')"></div>
            <div>
                <p class="recipe-title">{{ recipe.title }}</p>
                <p class="recipe-author">por {{ chef.name }}</p>
                <a href="/admin/recipes/{{ recipe.id }}" class="recipe-link" title="Clique para ver a receita">Visualizar</a>
            </div>
        </div>
        {% endfor %}
    </section>
{% else %}
    <h3 class="not-found-info">Este Chef não possui nenhuma receita</h3>
{% endif %}

{% endblock content %}