{% extends "recipes/layout.njk" %}

{% block content %}
<div class="header">
    <h2 class="text-title">Chef: Júlia Kinoto</h2>
    <div>
        <a href="#" class="redirect">Editar Chef</a>
    </div>
</div>
<div class="chef-info">
    <div class="chef-info-img" style="background-image: url('/assets/common/julia_kinoto.jpg')"></div>
    <h1>Júlia Kinoto</h1>
    <p>4 receitas</p>
</div>

<h2 class="text-title">Receitas</h2>

<section class="recipes">
    <div class="recipe">
        <div class="recipe-img" style="background-image: url('/assets/common/espaguete.png');"></div>
        <div>
            <p class="recipe-title">Espaguete</p>
            <p class="recipe-author">por Júlia Kinoto</p>
            <a href="#" class="recipe-link" title="Clique para ver a receita">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="recipe-img" style="background-image: url('/assets/common/espaguete.png');"></div>
        <div>
            <p class="recipe-title">Espaguete</p>
            <p class="recipe-author">por Júlia Kinoto</p>
            <a href="#" class="recipe-link" title="Clique para ver a receita">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="recipe-img" style="background-image: url('/assets/common/espaguete.png');"></div>
        <div>
            <p class="recipe-title">Espaguete</p>
            <p class="recipe-author">por Júlia Kinoto</p>
            <a href="#" class="recipe-link" title="Clique para ver a receita">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="recipe-img" style="background-image: url('/assets/common/espaguete.png');"></div>
        <div>
            <p class="recipe-title">Espaguete</p>
            <p class="recipe-author">por Júlia Kinoto</p>
            <a href="#" class="recipe-link" title="Clique para ver a receita">Visualizar</a>
        </div>
    </div>
</section>
{% endblock content %}