{% extends "admin/layout.njk" %}

{% block content %}
    <div class="form-header">
        <h2>Criar Usuário</h2>
        <div class="buttons">
            <button class="button" type="submit" form="form-create-user">Salvar</button>
            <a href="/admin/users" class="button cancel">Cancelar</a>
        </div>
    </div>
    <form id="form-create-user" class="form-inline" method="POST" action="/admin/users">
        {% include "admin/users/fields.njk" %}
    </form>
{% endblock content %}