<div class="form-item">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" placeholder="Digite o nome completo" value="{{ user.name }}">
</div>

<div class="form-item">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Digite o email" value="{{ user.email }}">
</div>

<div class="form-item">
    <input type="checkbox" name="is_admin" id="is_admin" {% if user.is_admin %} checked {% endif %}>
    <label for="is_admin">Administrador</label>
</div>