{% extends "admin/layout.njk" %}

{% block content %}
    <div class="form-header">
        <h2>Usuários</h2>
        <a href="/admin/users/create" class="button">Novo</a>
    </div>
    <div class="users">
        {% for user in users %}
            <div class="user">
                <p class="user-name">{{ user.name }}</p>
                <p class="user-email">{{ user.email }}</p>
                <div class="options-container">
                    <a href="/admin/profile">Editar</a>
                    <form method="POST" action="/users?_method=DELETE">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <button>Remover</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}