{% extends "admin/layout.njk" %}

{% block title %}
    <title>Foodfy - Perfil</title>
{% endblock title %}

{% block content %}
    <div class="form-header">
        <h2>Bem vindo(a) {{ user.name.split(' ')[0] }}</h2>
        <button class="button" type="submit" form="form-update-user">Salvar</button>
    </div>
    <form id="form-update-user" class="form-inline" method="POST" action="/admin/profile?_method=PUT">
        <input type="hidden" name="id" value="{{ user.id }}">
        <div class="form-item">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" placeholder="Digite o nome completo" value="{{ user.name }}" required>
        </div>

        <div class="form-item">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Digite o email" value="{{ user.email }}" required>
        </div>

        <div class="form-item">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite a senha">
        </div>
    </form>
{% endblock content %}