{% extends "layout.html" %}

{% block title %}
<title>Foodfy - Home</title>
{% endblock title %}

{% block content %}
<header>
    <div>
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <img src="/assets/chef.png" alt="Imagem do chef">
</header>
<h2>Mais acessadas</h2>
<section class="recipes">
    {% for recipe in mostAcessedRecipes %}
    <div class="recipe">
        <a href="#">
            <img class="recipe-img" src="{{ recipe.image }}" alt="Imagem do burger">
        </a>
        <p class="recipe-title">{{ recipe.title }}</p>
        <p class="recipe-author">por {{ recipe.author }}</p>
    </div>
    {% endfor %}
</section>
{% endblock content %}

{% block script %}
<script src="/script.js"></script>
{% endblock script %}