<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}
        <meta charset=utf-8>
        <link rel="stylesheet" href="/common/styles.css">
    </head>
    <body id="admin">
        <nav class="menuBar">
            <div class="container">
                <a href="/admin/recipes">
                    <img src="/assets/admin/logo.png" alt="Imagem da logo">
                </a>
                <div class="menu">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

        <script src="/common/script.js"></script>
    </body>
</html>