<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}
        <meta charset=utf-8>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/messages.css">
    </head>
    <body id="admin">
        {% include "parts/messages.njk" %}
        <nav class="menuBar">
            <div class="container">
                <a href="/admin/recipes">
                    <img src="/img/admin/logo.png" alt="Imagem da logo">
                </a>
                <div class="menu">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                    <a href="/admin/users">Usuários</a>
                </div>
            </div>
            {% if session.userID %}
                <form method="POST" action="/logout">
                    <button>sair</button>
                </form>
            {% endif %}
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

        <script src="/js/script.js"></script>
        <script src="/js/admin/script.js"></script>
        {% block script %}{% endblock script %}
    </body>
</html>