{% extends "recipes/layout.njk" %}

{% block content %}
<h2 class="text-title">Gerenciar chefs</h2>
<section class="chefs">
    <div class="chef">
        <div class="chef-img" style="background-image: url('/assets/common/julia_kinoto.jpg')"></div>
        <div>
            <p class="chef-name"></p>
            <p class="chef-link"></p>
        </div>
    </div>
</section>
{% endblock content %}