{% extends "public/layout.njk" %}

{% block title %}
<title>Foodfy - Chefs</title>
{% endblock title %}

{% block content %}
<section class="chefs">
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/julia_kinoto.jpg')"></div>
        <div>
            <p class="chef-name">Júlia Kinoto</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/bairam_frootan.jpg')"></div>
        <div>
            <p class="chef-name">Bairam Frootan</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/filipa_gaspar.jpg')"></div>
        <div>
            <p class="chef-name">Filipa Gaspar</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/marysa_labrone.jpg')"></div>
        <div>
            <p class="chef-name">Marysa Labrone</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/mok_kwang.jpg')"></div>
        <div>
            <p class="chef-name">Mok Kwang</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/kendasha_wood.jpg')"></div>
        <div>
            <p class="chef-name">Kendasha Wood</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/thenjiwe_msutu.jpg')"></div>
        <div>
            <p class="chef-name">Thenjiwe Msutu</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
    <div class="chef">
        <div class="chef-img" style="background-image: url('/img/uzoma_buchi.jpg')"></div>
        <div>
            <p class="chef-name">Uzoma Buchi</p>
            <p class="chef-recipes">3 receitas</p>
        </div>
    </div>
</section>
{% endblock content %}