{% extends "public/layout.njk" %}

{% block title %}
<title>Foodfy - Chefs</title>
{% endblock title %}

{% block content %}
<section class="chefs">
    {% for chef in chefs %}
    <div class="chef">
        <div class="chef-img" style="background-image: url('{{ chef.avatar_url }}')"></div>
        <div>
            <p class="chef-name">{{ chef.name }}</p>
            <p class="chef-recipes">{{ chef.total_recipes }} receitas</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}