{% extends "admin/layout.njk" %}

{% block title %}
<title>Foodfy - Editar receita</title>
{% endblock title %}

{% block content %}
<form action="/admin/recipes?_method=PUT" method="POST">
    <div class="header">
        <h2 class="text-title">Editando receita</h2>
        <div>
            <button type="button">Deletar</button>
            <button type="submit">Salvar receita</button>
        </div>
    </div>

    <input type="hidden" name="id" value="{{ recipe.id }}">

    {% include "admin/recipes/fields.njk" %}
</form>
<form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{ recipe.id }}">
</form>
{% endblock content %}