<div class="fields">
    <div class="form-item">
        <label for="image">Imagem da receita</label>
        <div class="images-container">
            <div class="image-upload">
                <i class="material-icons">add</i>
                <input
                    type="file"
                    name="image"
                    id="image"
                    value="{{ recipe.image }}"
                    multiple
                    onchange="ImagesUpload.handleFiles(event)"
                >
            </div>
            {# <div class="image">
                <img src="https://i2.wp.com/www.chucrutecomsalsicha.com/archives/2014/tomatoes-anchovies.jpg?resize=400%2C400" alt="Receitinha Bacaninha">
                <i class="material-icons">close</i>
            </div>
            <div class="image">
                <img src="https://i2.wp.com/www.chucrutecomsalsicha.com/archives/2014/tomatoes-anchovies.jpg?resize=400%2C400" alt="Receitinha Bacaninha">
                <i class="material-icons">close</i>
            </div>
            <div class="image">
                <img src="https://i2.wp.com/www.chucrutecomsalsicha.com/archives/2014/tomatoes-anchovies.jpg?resize=400%2C400" alt="Receitinha Bacaninha">
                <i class="material-icons">close</i>
            </div>
            <div class="image">
                <img src="https://i2.wp.com/www.chucrutecomsalsicha.com/archives/2014/tomatoes-anchovies.jpg?resize=400%2C400" alt="Receitinha Bacaninha">
                <i class="material-icons">close</i>
            </div>
            <div class="image">
                <img src="https://previews.123rf.com/images/alexis84/alexis841404/alexis84140400557/27773925-planet-earth-and-blue-human-eye-elements-of-this-image-furnished-by-nasa-.jpg" alt="Olho no mundo">
                <i class="material-icons">close</i>
            </div> #}
        </div>
    </div>

    <div class="form-item">
        <label for="title">Nome da receita</label>
        <input type="text" name="title" id="title" required value="{{ recipe.title }}">
    </div>

    <div class="form-item">
        <label for="chef">Chef</label>
        <select name="chef" id="chef" required>
            <option value="">Selecione um chef</option>
            {% for chef in chefs %}
            <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{ chef.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-item ingredients">
        <label>Ingredientes</label>
        {% for ingredient in recipe.ingredients %}
        <input type="text" name="ingredients[]" required value="{{ ingredient }}">
        {% endfor %}
    </div>

    <a href="#" id="add-ingredient" class="add-item">Adicinar novo ingrediente</a>

    <div class="form-item preparation">
        <label>Modo de preparo</label>
        {% for preparation in recipe.preparation %}
        <input type="text" name="preparation[]" required value="{{ preparation }}">
        {% endfor %}
    </div>

    <a href="#" id="add-step" class="add-item">Adicionar novo passo</a>
    
    <div class="form-item">
        <label for="information">Informações adicionais</label>
        <textarea name="information">{{ recipe.information }}</textarea>
    </div>
</div>