<div class="fields">
    <div class="form-item">
        <label for="title">Nome da receita</label>
        <input type="text" name="title" id="title" required value="{{ recipe.title }}">
    </div>

    <div class="form-item">
        <label for="image">Imagem da receita</label>
        <input type="text" name="image" id="image" value="{{ recipe.image }}">
    </div>

    <div class="form-item">
        <label for="chef">Chef</label>
        <select name="chef" id="chef" required>
            <option value="">Selecione um chef</option>
            {% for chef in chefs %}
            <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{ chef.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-item ingredients">
        <label>Ingredientes</label>
        {% for ingredient in recipe.ingredients %}
        <input type="text" name="ingredients[]" required value="{{ ingredient }}">
        {% endfor %}
    </div>

    <a href="#" id="add-ingredient" class="add-item">Adicinar novo ingrediente</a>

    <div class="form-item preparation">
        <label>Modo de preparo</label>
        {% for preparation in recipe.preparation %}
        <input type="text" name="preparation[]" required value="{{ preparation }}">
        {% endfor %}
    </div>

    <a href="#" id="add-step" class="add-item">Adicionar novo passo</a>
    
    <div class="form-item">
        <label for="information">Informações adicionais</label>
        <textarea name="information">{{ recipe.information }}</textarea>
    </div>
</div>