<div class="fields">
    <div class="form-item">
        <label for="files">Imagem da receita</label>
        <div class="images-container">
            <div class="image-upload">
                <i class="material-icons">add</i>
                <input
                    type="file"
                    name="files"
                    id="files"
                    value="{{ recipe.image }}"
                    accept="image/*"
                    multiple
                    required
                    onchange="ImagesUpload.handleFiles(event)"
                >
                <input type="hidden" name="removed_files">
            </div>
            {% for file in files %}
                <div class="image" id="{{ file.id }}">
                    <img src="{{ file.src }}" alt="{{ file.name }}">
                    <i class="material-icons" onclick="ImagesUpload.removeOldFile(event)">close</i>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-item">
        <label for="title">Nome da receita</label>
        <input type="text" name="title" id="title" required value="{{ recipe.title }}">
    </div>

    <div class="form-item">
        <label for="chef">Chef</label>
        <select name="chef" id="chef" required>
            <option value="">Selecione um chef</option>
            {% for chef in chefs %}
            <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{ chef.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-item ingredients">
        <label>Ingredientes</label>
        {% if recipe.ingredients[0] %}
            {% for ingredient in recipe.ingredients %}
                <input type="text" name="ingredients[]" required value="{{ ingredient }}">
            {% endfor %}
        {% else %}
            <input type="text" name="ingredients[]" required>
        {% endif %}
    </div>

    <a href="#" id="add-ingredient" class="add-item">Adicinar novo ingrediente</a>

    <div class="form-item preparation">
        <label>Modo de preparo</label>
        {% if recipe.preparation[0] %}
            {% for preparation in recipe.preparation %}
                <input type="text" name="preparation[]" required value="{{ preparation }}">
            {% endfor %}
        {% else %}
            <input type="text" name="preparation[]" required>
        {% endif %}
    </div>

    <a href="#" id="add-step" class="add-item">Adicionar novo passo</a>
    
    <div class="form-item">
        <label for="information">Informações adicionais</label>
        <textarea name="information">{{ recipe.information }}</textarea>
    </div>
</div>