{% extends "admin/layout.njk" %}

{% block title %}
<title>Foodfy - Receita</title>
{% endblock title %}

{% block content %}
<div class="header">
    <h2 class="text-title">Receita: {{ recipe.title }}</h2>
    <div>
        <a href="/admin/recipes/{{ recipe.id }}/edit" class="redirect">Editar receita</a>
    </div>
</div>

<div id="recipe" class="recipe gallery">
    {# <div class="recipe-img highlight" style="background-image: url('https://images.unsplash.com/photo-1570101278293-ab36975533f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')"></div> #}
    <div class="recipe-img highlight" style="background-image: url('{{ files[0].src }}')"></div>
    <div class="recipe-images previews">
        {# <img class="active" src="{{ files[0].src }}" alt="1" title="{{ files[0].name }}" onclick="ImagesGallery.setImage(event)"> #}
        {% for file in files %}
            <img
                src="{{ file.src }}"
                alt="Imagem da receita {{ recipe.title }} - {{ file.name }}"
                title="{{ file.name }}"
                {% if loop.index0 == 0 %}
                    class="active"
                {% endif %}
                onclick="ImagesGallery.setImage(event)"
            >
        {% endfor %}
    </div>
    <p class="recipe-title">{{ recipe.title }}</p>
    <p class="recipe-author">por {{ recipe.chef_name }}</p>
</div>

<section id="recipe-part-ingredients" class="recipe-part">
    <div class="text-title">
        <h2 class="text-title">Ingredientes</h2>
        <a href="#recipe-part-ingredients">ESCONDER</a>
    </div>
    <ul id="recipe-ingredients" class="recipe-part-content">
        {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }};</li>
        {% endfor %}
    </ul>
</section>

<section id="recipe-part-preparation" class="recipe-part">
    <div class="text-title">
        <h2 class="text-title">Modo de preparo</h2>
        <a href="#recipe-part-preparation">ESCONDER</a>
    </div>
    <ol id="recipe-preparation" class="recipe-part-content">
        {% for preparationStep in recipe.preparation %}
        <li>{{ preparationStep }}.</li>
        {% endfor %}
    </ol>
</section>

<section id="recipe-part-information" class="recipe-part">
    <div class="text-title">
        <h2 class="text-title">Informações adicionais</h2>
        <a href="#recipe-part-information">ESCONDER</a>
    </div>
    <section id="recipe-information" class="text recipe-part-content">
        <p>{{ recipe.information }}</p>
    </section>
</section>
{% endblock content %}