<div class="fields">
    <input type="hidden" name="id" value="{{ recipe.id }}">

    <div class="form-item">
        <label for="image">Imagem da receita</label>
        <input type="text" name="image" id="image" value="{{ recipe.image }}">
    </div>

    <input type="hidden" name="title" value="{{ recipe.title }}">
    <input type="hidden" name="author" value="{{ recipe.author }}">

    <div class="form-item ingredients">
        <label>Ingredientes</label>
        {% for ingredient in recipe.ingredients %}
        <input type="text" name="ingredients" value="{{ ingredient }}">
        {% endfor %}
    </div>

    <a href="#" id="add-ingredient" class="add-item">Adicinar novo ingrediente</a>

    <div class="form-item preparation">
        <label>Modo de preparo</label>
        {% for preparation in recipe.preparation %}
        <input type="text" name="preparation" value="{{ preparation }}">
        {% endfor %}
    </div>

    <a href="#" id="add-step" class="add-item">Adicionar novo passo</a>
    
    <div class="form-item">
        <label for="information">Informações adicionais</label>
        <textarea name="information">{{ recipe.information }}</textarea>
    </div>
</div>